USE [TalentConnect]
GO
/****** Object:  StoredProcedure [dbo].[SP_ZOHO_Customer_InsertORUpdate]    Script Date: 10-04-2025 13:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ZOHO_Customer_InsertORUpdate]
    @Zoho_Organization_ID BIGINT = NULL,
    @Customer_ID NVARCHAR(255),
    @Customer_Name NVARCHAR(255) = NULL,
    @Display_Name NVARCHAR(255) = NULL,
    @Company_Name NVARCHAR(255) = NULL,
    @Salutation NVARCHAR(255) = NULL,
    @First_Name NVARCHAR(255) = NULL,
    @Last_Name NVARCHAR(255) = NULL,
    @EmailID NVARCHAR(255) = NULL,
    @Phone NVARCHAR(255) = NULL,
    @MobilePhone NVARCHAR(255) = NULL,
    @Skype_Identity NVARCHAR(255) = NULL,
    @Facebook NVARCHAR(255) = NULL,
    @Twitter NVARCHAR(255) = NULL,
    @Department NVARCHAR(255) = NULL,
    @Designation NVARCHAR(255) = NULL,
    @Credit_Limit NVARCHAR(255) = NULL,
    @Price_List NVARCHAR(255) = NULL,
    @Payment_Terms NVARCHAR(255) = NULL,
    @Payment_Terms_Label NVARCHAR(255) = NULL,
    @Currency_Code NVARCHAR(255) = NULL,
    @Notes NVARCHAR(MAX) = NULL,
    @Website NVARCHAR(255) = NULL,
    @Contact_Type NVARCHAR(255) = NULL,
    @Customer_Sub_Type NVARCHAR(255) = NULL,
    @Customer_Address_ID NVARCHAR(255) = NULL,
    @Billing_Attention NVARCHAR(255) = NULL,
    @Billing_Address NVARCHAR(255) = NULL,
    @Billing_Street2 NVARCHAR(255) = NULL,
    @Billing_City NVARCHAR(255) = NULL,
    @Billing_State NVARCHAR(255) = NULL,
    @Billing_Country NVARCHAR(255) = NULL,
    @Billing_Code NVARCHAR(255) = NULL,
    @Billing_Phone NVARCHAR(255) = NULL,
    @Billing_Fax NVARCHAR(255) = NULL,
    @Shipping_Attention NVARCHAR(255) = NULL,
    @Shipping_Address NVARCHAR(255) = NULL,
    @Shipping_Street2 NVARCHAR(255) = NULL,
    @Shipping_City NVARCHAR(255) = NULL,
    @Shipping_State NVARCHAR(255) = NULL,
    @Shipping_Country NVARCHAR(255) = NULL,
    @Shipping_Code NVARCHAR(255) = NULL,
    @Shipping_Phone NVARCHAR(255) = NULL,
    @Shipping_Fax NVARCHAR(255) = NULL,
    @Source NVARCHAR(255) = NULL,
    @Reference_ID NVARCHAR(255) = NULL,
    @Payment_Reminder NVARCHAR(255) = NULL,
    @Status NVARCHAR(255) = NULL,
    @Owner_Name NVARCHAR(255) = NULL,
    @CF_Customer_Type NVARCHAR(255) = NULL,
    @IsActive BIT = 1,
    @Remarks NVARCHAR(MAX) = NULL,
	@CurrencyID BIGINT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM gen_ZOHO_Customer WITH(NOLOCK) WHERE Customer_ID = @Customer_ID)
    BEGIN
        -- Update existing record
        UPDATE gen_ZOHO_Customer
        SET
            Zoho_Organization_ID = @Zoho_Organization_ID,
            Last_Modified_Time = FORMAT(GETDATE(), 'yyyy-MM-ddTHH:mm:ss'),
            Customer_Name = isnull(@Customer_Name,Customer_Name),
            Display_Name = isnull(@Display_Name,Display_Name),
            Company_Name = isnull(@Company_Name,Company_Name),
            Salutation = isnull(@Salutation,Salutation),
            First_Name = isnull(@First_Name,First_Name),
            Last_Name = isnull(@Last_Name,Last_Name),
            EmailID = isnull(@EmailID,EmailID),
            Phone = isnull(@Phone,Phone),
            MobilePhone = isnull(@MobilePhone,MobilePhone),
            Skype_Identity = isnull(@Skype_Identity,Skype_Identity),
            Facebook = isnull(@Facebook,Facebook),
            Twitter = isnull(@Twitter,Twitter),
            Department = isnull(@Department,Department),
            Designation = isnull(@Designation,Designation),
            Credit_Limit = isnull(@Credit_Limit,Credit_Limit),
            Price_List =isnull( @Price_List,Price_List),
            Payment_Terms = isnull(@Payment_Terms,Payment_Terms),
            Payment_Terms_Label = isnull(@Payment_Terms_Label,Payment_Terms_Label),
            Currency_Code = isnull(@Currency_Code,Currency_Code),
            Notes = isnull(@Notes,Notes),
            Website = isnull(@Website,Website),
            Contact_Type = isnull(@Contact_Type,Contact_Type),
            Customer_Sub_Type = isnull(@Customer_Sub_Type,Customer_Sub_Type),
            Customer_Address_ID = isnull(@Customer_Address_ID,Customer_Address_ID),
            Billing_Attention = isnull(@Billing_Attention,Billing_Attention),
            Billing_Address = isnull(@Billing_Address,Billing_Address),
            Billing_Street2 = isnull(@Billing_Street2,Billing_Street2),
            Billing_City = isnull(@Billing_City,Billing_City),
            Billing_State = isnull(@Billing_State,Billing_State),
            Billing_Country = isnull(@Billing_Country,Billing_Country),
            Billing_Code = isnull(@Billing_Code,Billing_Code),
            Billing_Phone = isnull(@Billing_Phone,Billing_Phone),
            Billing_Fax = isnull(@Billing_Fax,Billing_Fax),
            Shipping_Attention = isnull(@Shipping_Attention,Shipping_Attention),
            Shipping_Address = isnull(@Shipping_Address,Shipping_Address),
            Shipping_Street2 = isnull(@Shipping_Street2,Shipping_Street2),
            Shipping_City = isnull(@Shipping_City,Shipping_City),
            Shipping_State = isnull(@Shipping_State,Shipping_State),
            Shipping_Country = isnull(@Shipping_Country,Shipping_Country),
            Shipping_Code = isnull(@Shipping_Code,Shipping_Code),
            Shipping_Phone = isnull(@Shipping_Phone,Shipping_Phone),
            Shipping_Fax = isnull(@Shipping_Fax,Shipping_Fax),
            Source = isnull(@Source,Source),
            Reference_ID = isnull(@Reference_ID,Reference_ID),
            Payment_Reminder = isnull(@Payment_Reminder,Payment_Reminder),
            Status = isnull(@Status,Status),
            Owner_Name = isnull(@Owner_Name,Owner_Name),
            [CF#Customer_Type] = isnull(@CF_Customer_Type,[CF#Customer_Type]),
            IsActive = isnull(@IsActive,IsActive),
            Remarks = isnull(@Remarks,Remarks)
        WHERE Customer_ID = @Customer_ID
    END
    ELSE
    BEGIN
        -- Insert new record
        INSERT INTO gen_ZOHO_Customer (
            Zoho_Organization_ID, Created_Time, Last_Modified_Time, Customer_ID, Customer_Name, Display_Name,
            Company_Name, Salutation, First_Name, Last_Name, EmailID, Phone, MobilePhone, Skype_Identity, Facebook,
            Twitter, Department, Designation, Credit_Limit, Price_List, Payment_Terms, Payment_Terms_Label,
            Currency_Code, Notes, Website, Contact_Type, Customer_Sub_Type, Customer_Address_ID, Billing_Attention,
            Billing_Address, Billing_Street2, Billing_City, Billing_State, Billing_Country, Billing_Code,
            Billing_Phone, Billing_Fax, Shipping_Attention, Shipping_Address, Shipping_Street2, Shipping_City,
            Shipping_State, Shipping_Country, Shipping_Code, Shipping_Phone, Shipping_Fax, Source, Reference_ID,
            Payment_Reminder, Status, Owner_Name, [CF#Customer_Type], IsActive, Remarks
        )
        VALUES (
            @Zoho_Organization_ID, FORMAT(GETDATE(), 'yyyy-MM-ddTHH:mm:ss'), FORMAT(GETDATE(), 'yyyy-MM-ddTHH:mm:ss'),
            @Customer_ID, @Customer_Name, @Display_Name, @Company_Name, @Salutation, @First_Name, @Last_Name,
            @EmailID, @Phone, @MobilePhone, @Skype_Identity, @Facebook, @Twitter, @Department, @Designation,
            @Credit_Limit, @Price_List, @Payment_Terms, @Payment_Terms_Label, @Currency_Code, @Notes, @Website,
            @Contact_Type, @Customer_Sub_Type, @Customer_Address_ID, @Billing_Attention, @Billing_Address,
            @Billing_Street2, @Billing_City, @Billing_State, @Billing_Country, @Billing_Code, @Billing_Phone,
            @Billing_Fax, @Shipping_Attention, @Shipping_Address, @Shipping_Street2, @Shipping_City, @Shipping_State,
            @Shipping_Country, @Shipping_Code, @Shipping_Phone, @Shipping_Fax, @Source, @Reference_ID,
            @Payment_Reminder, @Status, @Owner_Name, @CF_Customer_Type, @IsActive, @Remarks
        )

		-- Insert mapping details
		DECLARE @CompanyID BIGINT = 0
		SELECT TOP 1 @CompanyID = ID FROM gen_Company WITH(NOLOCK) WHERE LOWER(Company) = LOWER(@Company_Name)

		IF(ISNULL(@CompanyID,0) = 0)
		BEGIN
			SELECT TOP 1 @CompanyID = CompanyID FROM gen_contact WITH(NOLOCK) WHERE LOWER(EmailID) = LOWER(@EmailID)
		END
		
		IF NOT EXISTS (SELECT 1 FROM gen_CompanyMapping_ZohoCustomers WITH(NOLOCK) WHERE ZOHO_Primary_Customer_ID = @Customer_ID)
		BEGIN
			INSERT INTO gen_CompanyMapping_ZohoCustomers 
			(
				CompanyID,
				ZOHO_Primary_Customer_ID,
				ZohoOrganization_ID,
				Currency_ID
			)
			VALUES
			(
				@CompanyID,
				@Customer_ID,
				@Zoho_Organization_ID,
				@CurrencyID
			)
		END

    END
END

