<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="LinkParsing" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\UP0434\AppData\Local\Programs\Python\Python311\python.exe %s%s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
